.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
  width: 1000px;
  height: 800px;
  overflow: hidden;
}

.img-overlay-wrap img {
  /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
  transform: rotate(180deg) translate(0px, 150px);
  width: 970px;
  margin-left: 20px;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
