/* Taken from https://stackoverflow.com/questions/43806515/position-svg-elements-over-an-image */

.models {
  display: flex;
  justify-content: space-around;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block;
  transition: transform 150ms ease-in-out;
  width: 600px;
  height: 500px;
}

.shotChart {
  min-width: 600px;
  height: 500px;
  margin: 20px;
}

.img-overlay-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 600px;
  height: 500px;
  transform: rotate(180deg);
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.heatRegions {
  width: 100%;
}
