.playerCard {
  display: flex;
  flex-direction: column;
  border: solid thick;
  margin: 10px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.summaryStatsBar {
  display: flex;
  flex-direction: row;
}

.stat {
  margin: 10px;
}
