.playerCardList {
  display: flex;
  overflow-x: scroll;
}

.playerCard {
  display: flex;
  flex-direction: column;
  border: solid thick;
  margin: 10px;
  width: 450px;
  min-width: 400px;
  border-radius: 15px;
  transition: all 0.5s ease-out 100ms;
  overflow: hidden;
  align-self: flex-start;
  padding: 10px;
}

.playerCard:hover {
  border-color: #88d9e6;
  box-shadow: 10px 5px 5px #88d9e6;
}
.performanceScore {
  margin: 10px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summaryStatsBar {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.hiddenStatsBar {
  display: flex;
  flex-direction: column;
  margin: -40px;
  transition: all 0.5s ease-out 0.2s;
  color: white;
}
.playerCard:hover .hiddenStatsBar {
  margin: 0px;
  color: #1f2833;
}

.stat {
  margin: 10px;
}

.playerCardName {
  display: block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.statRow {
  display: flex;
  flex-direction: row;
}

.deleteButton {
  color: red;
  width: 200px;
  align-self: center;
}
