.playerCardList {
  display: flex;
  overflow-x: scroll;
}

.scene {
  min-width: 450px;
  height: 260px;
  perspective: 600px;
}

.playerCard {
  width: 90%;
  height: 90%;
  background-color: #77b9ff;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  display: flex;
  border: solid thick;
  margin: 10px;
  border-radius: 15px;
  align-self: flex-start;
}

.playerCard:hover,
.playerCard:focus-within {
  transform: scale(1.05);
  box-shadow: 8px 5px 5px #1f2833;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summaryStatsBar {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.hiddenStatsBar {
  display: flex;
  flex-direction: column;
  margin: -40px;
  color: white;
}

.stat {
  margin: 10px;
}

.playerCardName {
  display: block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.statRow {
  display: flex;
  flex-direction: row;
}

.button {
  width: 180px;
  margin: 5px;
}

.delete {
  color: red;
  align-self: center;
}

.deleteCard {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-content: center;
}
